{
    "enabled": true,
    "coin": "yenten.json",
    "paymentProcessing": {
        "enabled": true,
        "paymentInterval": 300,
        "minimumPayment": 0.01,
        "daemon": {
            "host": "127.0.0.1",
            "port": ,
            "user": "",
            "password": ""
        }
    },
    "address": "",
    "rewardRecipients": {
        "": 2
    }
}
